<div class="category-programs-container">
  <span class="back-arrow" (click)="goBack()" aria-label="Retour" tabindex="0">
    <span>&larr;</span>
  </span>
  <input class="search-input" type="text" [(ngModel)]="searchTerm" placeholder="Rechercher un programme..." />
  <h1>{{ categoryName }}</h1>
  
  <div *ngIf="loading" class="loading">
    <p>Chargement des programmes...</p>
  </div>
  
  <div *ngIf="!loading">
    <div *ngIf="workouts.length === 0" class="no-workouts">
      <p>Aucun programme trouvé dans cette catégorie.</p>
    </div>
    
    <div class="category-programs-list" *ngIf="workouts.length > 0">
      <app-program-card 
        *ngFor="let workout of filteredPrograms()" 
        [program]="workout" 
        (cardClick)="goToProgram(workout)">
      </app-program-card>
    </div>
  </div>
</div> 