.workout-chart-container {
  margin: 0;
  background-color: #111;
  width: 100%;
  aspect-ratio: 16/9;

  canvas {
    width: 100% !important;
    height: 100% !important;
    background: transparent;
  }
} 